html {
    height: 100%;
    width:100%;
    text-align: center;
}
body {
    background-color: rgb(241, 220, 216);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
nav {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: rgba(0, 0, 0, 0.103);
  }
  nav a {
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    color: black;
  }
  footer {
    background-color: rgba(252, 222, 222, 0.747);
    height: 100px;
    text-align: center;
    color: black;
    font-size: 12px;
    margin-top: 14px;
  }
  h1 {
    font-size: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }